<!DOCTYPE html>
<html>
<head>
  <title>Phalitham</title>
  <%= stylesheet_link_tag 'reset.min.css' %> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'sidebar.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
.hide{
	display:none;
}
.box-group > *{
	padding:5px;
	background-color:#d1d1d1;
	cursor:pointer;
}
.box-group > .active{
	background-color:#f1f1f1;
}
.form_errors{
	
	border-color: #FF0000 !important;
    border-width:1px !important;
    border-style:solid !important
}

.xmltree, .xmltreeeditor{
	margin:0px 2px;padding:0px;
	cursor:pointer;
	
}
.xmltree h4, .xmltreeeditor h4{
	margin:0px;padding:8px;
	background-color:#D1D1D1;
	text-align:center;
	
}

.xmltree span{
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.xmltree .bullet{
	
	background:url(<%= image_url('bulletpoint.png') %>) no-repeat left center;
	padding-left:18px;
	
	
}

.xmltree .plus{
	
	background:url(<%= image_url('plus_16.png') %>) no-repeat left center;
	padding-left:18px;
	
	
}

.xmltree .minus{
	background:url(<%= image_url('minus-black.png') %>) no-repeat left center;
	padding-left:18px;
	
}

.xmltree span{
	
}

.xmltree .plus, .xmltree .minus, .xmltree .bullet{
	font-size:14pt;
	
}
.xmltree ul{
	padding-left:5px;
}
.xmltree ul li{
	margin-left:10px;
}

.xmltree ul ul{
	margin-left:10px;
}
.xmltree ul ol{
	margin-left: 10px;
}

.xmltree ul ol ul{
	margin-left: -5px;
}

.sensitivty-text-color-1{
	
}
.sensitivty-text-color-2,.sensitivty-text-color-3{
	color:blue;
}

.sensitivty-text-color-4, .sensitivty-text-color-5{
	color:red;
}

select:disabled, input[type="text"]:disabled {
    border-color:red
}

.datagrid button:disabled{
	visibility:hidden;
}

</style>  
</head>
<body>
<div id="page-content-wrapper">
<div class="container-fluid">
	<%= yield %>
</div>
</div>
</body>
</html>
