<!DOCTYPE html>
<html>
<head>
  <title>Phalitham</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'sidebar.css' %>
  <%= stylesheet_link_tag 'application', 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css' %> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
</head>
<body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                	<a class="navbar-brand" href="#"><span>Phalitha</span></a>
                </div>
            </div>
        </div>
		<div class="section" style="margin-top:60px">
			<div class="container">
				    <% 
				    flash.each do |name, msg| 
			    		if name == "warn" then
			    	-%>
				    	<div class="row">
				    		<div class="alert alert-warning alert-dismissible fade in" role="alert">
				    			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				    		<%= msg %>
				    	</div>
				    	</div>
			    	<%
			    		elsif name == "notice" || name == "info" 
			    	-%>
				    	<div class="row">
				    		<div class="alert alert-primary alert-dismissible fade in" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><%= msg %></div>
				    	</div>
			    	<%
			    		elsif name == "error" 
			    	-%>
				    	<div class="row">
				    		<div class="alert alert-danger alert-dismissible fade in" role="alert">
				    			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				    		<%= msg %>
				    	</div>
				    	</div>
			    	<%
			    		end
				    end 
				    -%>
			</div>
		</div>        	
		<%= yield%>
</body>
</html>